.filtr_menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 22px;
    min-height: 35px;
    border: 1px solid black;
    background-color: #fff;
    opacity: 0;
    justify-content: center;
    transform: translateY(-5px);
    visibility: hidden;
}
.filtr_menu.active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.ent_filtr{
    border: none;
    text-align: center;
    background-color: #772ce8;
    color:white;
    width: 50%;
    border-radius: 8px;
}
.filtr_list{
    margin: 0px 20px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    white-space: nowrap;
}
.filtr_item{
    margin: 0px 10px;
}