.registration{
    display: flex;
    width: 500px;
    margin: 50px auto;
    align-items: center;
    flex-direction: column;
}
.registration-form{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.registration-button{
    margin-top: 5px;
    background-color: rgb(93, 158, 254);
    color:white;
    border-radius: 10px;
    border:none;
    height: 40px;
}
.registration-input{
    border-radius: 5px;
    padding: 0px 5px 3px 5px;
}
.registration-button:hover{
    background-color: rgb(48, 127, 246);
}
.registration-button:focus{
    background-color: rgb(93, 158, 254);
}
.registration-create-link{
    text-decoration: none;
    color: rgb(93, 158, 254);
}
.registration-create-link:hover{
    border-bottom: 1px solid rgb(93, 158, 254);
}