.about-system-main{
    max-width: 800px;
    width: 100%;
    margin: 35px auto;
    overflow-wrap: break-word;
}
span{
    font-weight: 700;
}
img{
    object-fit: contain;
}
.square{
    width: 500px;
    margin: 0px auto;
}
.rect{
    width: 100%;
}
.img_box{
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-system-link{
    text-decoration: none;
    color: blue;
}