.about-developers{
    width: 370px;
    margin: 60px auto;
    font-size: 18px;
    padding: 10px 20px 20px 20px;
    border: 2px solid black;
    border-radius: 20px;
}
.without-margin{
    margin: 7px 0px
}
.dev-link{
    text-decoration: none;
    color: blue;
    font-size: 18px;
}
.dev-link:hover{
    color:rgb(153, 150, 143);   
}